img {
    width: 300px;
    height: 300px;
    border-color: black;
    background-color: red;
}
body {
    text-align: center;
    font-family: "Arial";
}
p {
    font-family: "SimSun";
}
h1 {
    font-family: "Comic Sans MS";
    font-variant: small-caps;
    font-weight: bold;
    font-style: oblique
}